{% extends 'base.html' %}

{% block additional_css %}
<style>
     .card-header-color{
        background-color:#2262CB;
    }
</style>
   
{% endblock %} 

{% block content %}


    <div class="container mt-5">
        <div class="row">
            <div class="col-3 mx-auto mt-5">
                <h1 class="text-center mb-4">Network</h1>
                <form  method="post" action="">
                    {% csrf_token %}
                    <div class="card text-center">
                        <div class="card-header card-header-color text-white">
                            Log in/ Sign Up
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" name="username" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                              <div class="mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                             
                              </div>
                              <input type="submit" value="Log In" class="btn card-header-color w-100 text-white">
                        </div>
                        <p>Dont have an Account ?</p>
                        <div class="card-footer text-muted">
                            
                            <a href="/register" class="btn btn-success mx-auto">Sign Up</a>
                        </div>
                    </div>
                </form>
                {% if not success %}
            <div class="text-danger">{{message}}</div>
            {% endif %}
            </div>
        </div>
    </div>
    
{% endblock content %}
